MYSQL_DATABASE=cloudstore
MYSQL_USER=cloudstore
MYSQL_PASSWORD=cloudstore
MYSQL_ROOT_PASSWORD=rootpassword

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/cloudstore?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=cloudstore
SPRING_DATASOURCE_PASSWORD=cloudstore
FAKESTORE_SERVICE_URL=https://fakestoreapi.com
